<div class="container body-content span=8 offset=2">
    <div class="well">
        <h2>{{ title }}</h2>
        <table class="table table-striped table-hover">
            <thead class="thead">
            <tr>
                <th>#</th>
                <th>ТЕМА</th>
                <th>МАТЕРИАЛИ</th>
            </tr>
            </thead>
            <tbody>
            {{#each rows}}
                <tr>
                    <th scope="row">{{ @index }}</th>
                    <td>{{ this.topic }}</td>
                    <td>
                        {{#if this.empty}}
                            No resources
                        {{else}}
                            <a href="#" class="btn btn-warning">Download this Chapter</a>
                        {{/if}}

                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <a href="#" class="btn btn-success">Download ALL</a>
    </div>
</div>