<!Doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="SoftUni Downloader" />
    <meta name="keywords" content="" />
    <!-- <meta http-equiv="refresh" content="60" /> -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <base href="index.html" target="_self" />

    <title>SoftUni Downloader</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

</head>
<body>
{{#if error }}
    <h2 class="error">{{error}}</h2>
{{/if}}
{{{body}}}
</body>
</html>
